body {
    font-family: Figtree;
    margin: 0;
    padding: 0;
    background: rgb(170, 207, 240);
    color: #333;
    text-align: center;
}

header {
    background: hsl(212, 31%, 49%);
    color: white;
    padding: 2rem;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.8em;
    margin-top: 2rem;
}

h3 {
    font-size: 1.3em;
    margin-top: 1rem;
}

ul {
    list-style-type: none;
}

section {
    background: white;
    margin: 2rem auto;
    padding: 2rem;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.wireframe-section img {
    width: 500px;
    max-width: 90%;
    border: 2px solid #ccc;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}

.palette {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}
.yellow { background: #fbffa7; }
.orange { background: #ff764d; }
.lightblue { background: #b1c5ff; }
.lavender { background: #d5b3ff; }
.mint { background: #b6ffc0; }
.blue { background: #0000ff; }

.swatch {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid black;
}

.screenshots img {
    width: 400px;
    max-width: 90%;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 20px auto;
    display: block;
}

footer {
    background: #333;
    color: white;
    padding: 1.5rem;
    margin-top: 3rem;
}